.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  padding: 1.5rem 1.5rem 1.5rem 6.5rem;
}

@media screen and (max-width: 989px) {
  .flex-container {
    padding: 1.5rem 3rem;
  }
}

.collection-wrap {
  margin: 0 3rem;
}

@media screen and (max-width: 749px) {
  .collection-wrap {
    margin: 0 1.5rem;
  }
}


@media screen and (max-width: 749px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

	.banner--small {
    min-height: 28rem;
  }

  .banner--medium {
    min-height: 34rem;
  }

  .banner--large {
    min-height: 56rem;
  }
}

.collection-hero__inner {
  display: flex;
  flex-direction: column;
  position: relative;
}

.collection-hero__inner.not-full {
  max-width: 154rem;
  margin: 0 auto;
  border-radius: var(--text-boxes-radius);
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  border-radius: var(--media-radius);
  overflow: hidden;
}

.collection-hero__inner.without-radius {
  border-radius: 0;
}

.collection-hero__inner.align-center {
  justify-content: center;
  text-align: center;
}
.collection-hero__inner.align-right {
  justify-content: flex-end;
  text-align: right;
}

.collection-hero__inner.align-center .breadcrumbs__list {
  justify-content: center;
}

.collection-hero__inner.align-right .breadcrumbs__list {
  justify-content: flex-end;
}

.breadcrumbs__list-top {
  margin: 0;
  padding: 3rem 0;
}

@media screen and (max-width: 749px) {
  .breadcrumbs__list-top {
    margin: 0;
    padding: 3rem 0 2.5rem;
  }
}

.breadcrumbs__list-top li:last-child {
  color: rgb(var(--color-accent));
}

.collection-hero__text-wrapper {
  position: relative;
  flex-basis: 100%;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
  }

	.banner--small:not(.banner--adapt) {
		min-height: 42rem;
	}

		.banner--medium:not(.banner--adapt) {
		min-height: 53rem;
	}

	.banner--large:not(.banner--adapt) {
		min-height: 72rem;
	}
}

.banner--content-align-top {
	align-items: start;
}

.banner--content-align-center {
	align-items: center;
}

.banner--content-align-bottom {
	align-items: end;
}

.collection-hero__title {
  margin: 2.5rem 0;
}

.collection-hero__description {
  color: rgba(var(--color-foreground), 1);
}

.collection-hero__description.secondary-color {
  color: rgba(var(--color-foreground-secondary), 1);
}

.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 2.5rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero__image-container > img {
	object-position: var(--focal-point, 50% 50%);
}

.collection-hero__image-container,
.collection-hero__image-container:after,
.collection-hero__img-wrapper:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.collection-hero__image-container:after,
.collection-hero__img-wrapper:after {
  content: '';
  background-color: #1d1d1f;
}

.breadcrumbs__list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  padding: 2.7rem 0 3rem;
  flex-wrap: wrap;
}

.breadcrumbs__list--banner {
  padding: 1rem 0;
}

.breadcrumbs__item {
  display: flex;
  color: rgba(var(--color-foreground), 1);
  font-size: 1.6rem;
  text-decoration: none;
  transition: color .3s ease;
}

.breadcrumbs__item:has(a):hover {
  color: rgb(var(--color-accent));
}

.breadcrumbs__item .icon {
  width: 1rem;
  margin: 0 0.8rem 0.1rem;
  transform: rotate(-90deg);
  color: rgba(var(--color-foreground), 1);
}

.breadcrumbs__link {
  flex-shrink: 0;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  text-decoration: none;
}

@media screen and (max-width: 749px) {
  .breadcrumbs__link {
    flex-shrink: 1;
  }

  .collection-hero__inner.banner--content-align-bottom {
	justify-content: flex-end;
}
}

.collection-hero__img-wrapper {
  border-radius: var(--media-radius);
  overflow: hidden;
  position: relative;
  max-height: 45rem;
}

.collection-hero__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}