.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 66rem;
  max-width: calc(100vw - 3rem);
  padding: 0;
  border-right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

.drawer__inner-empty {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 0 7rem;
  overflow: hidden;
}

cart-drawer.is-empty .drawer__body,
.drawer__inner-empty ~ .drawer__body,
cart-drawer.is-empty .drawer__footer,
.drawer__inner-empty ~ .drawer__footer {
  display: none;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.drawer__inner-empty:has(.cart-drawer__collection) {
  overflow-y: scroll;
}

.cart-drawer__warnings:has( + .cart-drawer__collection) {
  flex: 0;
}

.cart-drawer__empty-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-drawer__empty-content .cart__empty-text {
  width: calc(100% - 7rem);
  text-align: left;
  margin-bottom: 0;
}
.cart-drawer__empty-content .button {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}
.cart-drawer__empty-content .cart__login-paragraph,
.cart-drawer__empty-content .cart__login-title {
  width: 100%;
  margin-top: 2rem;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

@media screen and (max-width: 749px) {
  .drawer__inner {
    transform: translate(100%, 1.5rem);
    max-height: calc(100% - 3rem);
    border-radius: var(--popup-corner-radius);
  }
  .drawer.active .drawer__inner {
    transform: translate(-1.5rem, 1.5rem);
  }
  .drawer__inner-empty {
    padding: 0 3rem;
  }
  .cart-drawer__warnings .drawer__close {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: .8rem;
  }
}

.drawer__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.drawer__heading {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: calc(100% - 7rem);
}

.drawer__heading .totals__items {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
  margin-left: 2rem;
  font-weight: 500;
  padding: .4rem;
}

.drawer__close {
  display: inline-block;
  text-align: right;
  padding: 0;
  min-width: 4.4rem;
  min-height: 4.4rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.drawer__sale-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.drawer__sale-banner > img {
  max-height: 2rem;
  width: auto;
}

.drawer__sale-banner .announcement-bar__message {
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 1.4rem;
  width: 1.4rem;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  box-shadow: 0px 0px 20px 0px rgba(var(--color-foreground), 0.1);
  padding: 1.5rem 2rem 5rem;
  margin-top: auto;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
  margin-bottom: 2rem;
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 2rem 0;
  color: rgb(var(--color-foreground));
  font-weight: 500;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 5rem 3rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

cart-drawer-items {
  flex: 1;
}

.drawer__header {
  gap: 0.5rem;
  padding: 1.5rem 2rem 0.5rem;
}

.drawer__body {
  padding-left: 2rem;
  padding-bottom: 3rem;
  overflow-y: auto;
}

@media screen and (max-height: 499px) {
  .drawer__body {
    overflow-y: unset;
  }
}

cart-drawer-items {
  display: block;
  padding-right: 2rem;
}

.recommendations-header {
  padding-right: 2rem;
}

@media screen and (min-width: 750px) {
  .drawer__footer {
    padding-right: 6rem;
    padding-left: 6rem;
    padding-bottom: 5rem;
  }

  .drawer__header {
    padding: 6rem 6rem 1.5rem;
    gap: 2rem;
  }

  .drawer__body {
    padding-left: 6rem;
    padding-bottom: 3rem;
  }

  cart-drawer-items {
    display: block;
    padding-right: 6rem;
  }

  .recommendations-header {
    padding-right: 6rem;
  }
}

.drawer__footer .cart__note {
  padding: 0;
  border: none;
  margin: 0;
}

/* cart reccomendations  */

.recommendations-slider-container {
  overflow: hidden;
}

.recommendations-header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.recommendations-slider {
  display: flex;
  align-items: flex-start;
  transition: transform 0.5s ease-in-out;
}

.recommendations-slide {
  padding-right: 1.6rem;
  width: 65%;
  flex: 0 0 65%;
  flex-shrink: 0;
}

.recommendations-slider-container .card__inner.ratio {
  width: 6rem;
  flex-shrink: 0;
}

.recommendations-slider-container .media > *:not(.zoom):not(.deferred-media__poster-button) {
  width: 100%;
}

.recommendations-slider-container .card-wrapper {
  padding: 2rem;
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
}

.recommendations-slider-container .card-wrapper .card {
  display: flex;
  align-items: center;
}

.recommendations-slider-container .card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
}

.recommendations-slider-container .card__information {
  padding: 0;
}

.recommendations-slider-container .full-unstyled-link {
  font-size: 1.8rem;
}

.recommendations-slider-container .card--horizontal .price {
  margin-top: 0.3rem;
}

.recommendations-slider-container .card--horizontal .price .price-item {
  color: rgba(var(--color-foreground), 0.75);
  font-size: 1.6rem;
}

.recommendations-slider-container .card-wrapper:hover .quick-add {
  transform: translateY(0);
}

.recommendations-slider-container .card-wrapper:hover > .card {
  box-shadow: none;
}

.recommendations-slider-container .quick-add {
  margin-bottom: 0;
}

.recommendations-slider-container .quick-add .button {
  line-height: 1;
  min-height: 4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  width: max-content;
}

.recommendations-navigation {
  display: flex;
  gap: 1rem;
}

.recommendations-navigation button {
  width: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.recommendations-navigation button[disabled] {
  opacity: .65;
  cursor: initial;
}
.recommendations-navigation button[disabled] .icon {
  cursor: initial;
}

.recommendations-navigation button .icon {
	--btn-bg: var(--color-slider-btn);
	--btn-text: var(--color-slider-btn-text);
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 50%;
  background: rgb(var(--btn-bg));
  color: rgb(var(--btn-text));
  border: .1rem solid rgba(var(--btn-text), var(--inputs-border-opacity));
  transition: all 0.3s ease;
}

.recommendations-navigation button:not([disabled]) .icon:hover {
	--btn-bg: var(--color-slider-btn-hover);
	--btn-text: var(--color-slider-btn-text-hover);
  border-color: rgba(var(--btn-bg), var(--buttons-border-opacity));
}

.recommendations-navigation .prev .icon {
  transform: rotate(180deg);
}

@media screen and (max-width: 549px) {
  .recommendations-slide {
    width: 31rem;
    transform: scale(1);
    flex: 0 0 31rem;
  }

  .recommendations-slider-container .card-wrapper {
    padding: 1.5rem;
  }

  .recommendations-slider-container .card__inner.ratio {
    width: 6rem;
  }

  .recommendations-slider-container .full-unstyled-link {
    font-size: 1.6rem;
  }

  .recommendations-slider-container .card--horizontal .price .price-item {
    font-size: 1.4rem;
  }
}

/* cart reccomendations end */

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 1.5rem;
  margin-bottom: 0;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading__spinner {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items .cart-item__media {
  padding-left: 0;
}

.cart-drawer .cart-items .cart-item__quantity,
.cart-drawer .cart-items .cart-item__media {
  padding-bottom: 1rem;
}

.cart-drawer .cart-items td {
  padding-top: 1.5rem;
}

.cart-item__details-options {
	display: flex;
	flex-direction: column;
	row-gap: .6rem;
}

.cart-drawer .cart-item__details,
.cart-drawer .cart-item__totals {
  padding-bottom: 0;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer td.cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 2rem;
	word-break: break-word;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

.cart-drawer .cart-item cart-remove-button {
  margin-left: 3rem;
  margin-top: 0;
}

.cart-drawer .cart-item .cart-remove-button {
  font-size: 1.6rem;
  position: relative;
  transition: all .3s ease;
  min-height: calc((var(--inputs-border-width)* 2) + 4.5rem);
  background-color: transparent;
  padding-right: 1.5rem;
  cursor: pointer;
}
.cart-drawer .cart-item .cart-remove-button:hover {
  color: rgb(var(--color-accent));
}
.cart-drawer .cart-item cart-remove-button .icon-caret {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-35%) rotate(-90deg);
  width: 1rem;
  color: rgb(var(--color-accent));
}
.cart-drawer .cart-item cart-remove-button .icon {
  color: rgb(var(--color-accent));
}
.cart-drawer .recommendations-slider .product-card-wrapper .card__information {
  padding: 0;
}
.cart-drawer .recommendations-slider-container .card-wrapper .card {
  padding: 0;
}
.cart-drawer .recommendations-slider-container .quick-add {
  flex-shrink: 0;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }

  .cart-drawer .cart-item__totals .cart-item__price-wrapper .cart-item__discounted-prices .cart-item__old-price {
	display: none;
}

  .cart-drawer .cart-item__media {
    /* grid-area: 1 / 1 / 2 / 3; */
    grid-area: 1 / 1 / 2 / 4;
  }

  .cart-drawer .cart-item__details {
    /* grid-area: 1 / 3 / 2 / 7; */
    grid-area: 1 / 4 / 2 / 9;
  }

  .cart-drawer .product-option {
    font-size: 1.2rem;
  }

  .cart-drawer .cart-items .cart-item__quantity {
    padding-top: 0;
    padding-left: 0;
    grid-area: 2 / 1 / 3 / 7;
  }

  .cart-drawer .quantity {
    width: 11rem;
    min-height: 4rem;
  }

  .cart-drawer .quantity__button {
    width: 3.3rem;
  }

  .cart-drawer .cart-item .cart-remove-button {
    min-height: 4rem;
    padding-left: .5rem;
    padding-right: 1.5rem;
    min-width: auto;
  }

  .cart-drawer .quantity__input {
    padding: 0 0.3rem;
  }

  .cart-drawer .cart-item cart-remove-button {
    margin-left: 1.5rem;
  }

  .cart-drawer .cart-item__totals {
    grid-area: 2 / 7 / 3 / 9;
  }

  .cart-drawer .cart-item > td + td.cart-item__totals {
    padding-left: 0;
    padding-top: 1.1rem;
  }

  .cart-drawer .cart-item .cart-remove-button {
    font-size: 1.4rem;
  }

  .cart-drawer .cart-item cart-remove-button .icon-remove {
    width: 1.8rem;
  }

  cart-remove-button .link-with-arrow svg {
	transform: rotateZ(0);
  }

  .cart-drawer .cart-item cart-remove-button .icon-caret {
    transform: translateY(-60%) rotate(-90deg);
  }

  .drawer__footer summary {
    font-size: 1.6rem;
  }

  .recommendations-slider-container .quick-add .button {
    padding: 8px 12px;
    min-height: auto;
  }

  .cart-drawer__empty-content {
    padding-bottom: 3rem;
  }
  .cart-drawer__collection {
    margin: 0 0 3rem;
  }
  .cart-drawer .cart-items .cart-item__media {
    padding-bottom: 0;
  }

  .drawer__heading .totals__items {
    min-width: 2.7rem;
    height: 2.7rem;
    font-size: 1.4rem;
    margin-left: 1rem;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 1.5rem auto;
  font-size: 1.4rem;
  text-align: left;
}

.product-option {
  display: inline-block;
  color: rgba(var(--color-foreground), 1);
  font-weight: 400;
}

.product-option,
.product-option.cart-item__final-price,
.product-option.cart-item__old-price,
.product-option dd {
  color: rgba(var(--color-foreground), 0.75);
}

.product-option dt {
  color: rgba(var(--color-foreground), 1);
}

.cart-drawer .price,
.product-option.drawer-price {
  font-size: 1.8rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart-drawer .cart-item__details .drawer-price {
  font-size: 1.4rem;
}

@media screen and (max-width: 749px) {
  .cart-drawer .price,
  .product-option.drawer-price {
    font-size: 1.6rem;
  }
}

.product-option + .product-option {
  margin-top: 0;
}
.product-option:has( + .product-option) {
  margin-right: .4rem;
}
.cart-drawer .cart__note .text-area {
  display: block;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.cart-drawer .cart__checkout-button span {
  display: flex;
  align-items: center;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

.cart-drawer .cart-item__media {
  width: 11rem;
}
@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__media {
    width: 13rem;
  }
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  right: 0;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

.product-option.cart-item__final-price,
.cart-item__discounted-prices .cart-item__old-price {
  font-size: 1.4rem;
}

.cart-item__totals .cart-item__discounted-prices .cart-item__old-price {
  font-size: 1.6rem;
}

@media screen and (min-width: 750px) {

  .cart-item__totals .cart-item__discounted-prices .cart-item__old-price {
    font-size: 1.8rem;
  }

  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .product-option.cart-item__final-price {
    font-size: 1.8rem;
  }

  .cart-item__discounted-prices .cart-item__old-price,
  .cart-item__details .product-option.cart-item__final-price {
    font-size: 1.4rem;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
}
