.cart {
	position: relative;
	display: block;
}
.cart__empty-text,
.is-empty .cart__contents,
.is-empty .cart__footer {
	display: none;
}
.is-empty .cart__empty-text,
.is-empty .cart__warnings {
	display: block;
}
.cart__warnings {
	text-align: center;
}
.cart-wrapper__title {
	margin: 0 0 2.5rem 0;
	text-align: center;
}
@media screen and (max-width: 749px) {
	.cart-wrapper__title {
		margin-bottom: 1.7rem;
	}
}
.cart-wrapper__description {
	text-align: center;
	color: rgb(var(--color-foreground));
}
.cart__warnings {
	margin-top: 4rem;
	display: none;
	text-align: center;
	padding: 2.5rem 2rem;
	background-color: rgb(var(--color-background));
	border-radius: var(--text-boxes-radius);
}
.cart__warnings-icon {
	margin-bottom: 2rem;
}
.cart__warnings-icon svg {
	display: block;
	margin: 0 auto;
}
.cart__empty-text {
	margin-top: 0;
	margin-bottom: 2rem;
}
@media screen and (max-width: 749px) {
	.cart__empty-text {
		margin-bottom: 1rem;
	}
}
.cart__contents>*+* {
	margin-top: 2.5rem;
}
.cart__login-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 4.5rem;
	gap: 0.8rem;
}
@media screen and (max-width: 740px) {
	.cart__login-wrapper {
		margin-top: 2.5rem;
	}
}
.cart__login-title {
	margin: 0;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.44em;
	color: rgb(var(--color-foreground-secondary));
}
@media screen and (max-width: 749px) {
	.cart__login-title {
		font-size: 1.6rem;
		line-height: 1.41em;
	}
}
.cart__login-link {
	display: inline-flex;
	align-items: center;
	gap: 0.8rem;
	line-height: 1.12em;
	width: fit-content;
	color: rgb(var(--color-foreground));
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 700;
	transition: all 0.3s;
}
@media screen and (max-width: 749px) {
	.cart__login-link {
		font-size: 1.4rem;
		line-height: 1.14em;
	}
}

.cart__login-link:hover {
	color: rgb(var(--color-accent));
}

.cart__login-link.animate-arrow:hover {
	text-decoration: underline;
}

.cart__login-link svg {
	width: 10px;
	transform: rotateZ(-90deg);
	color: rgb(var(--color-accent));
}
.cart__login-paragraph {
	margin-top: 0.8rem;
}
.cart__login-paragraph a {
	font-size: inherit;
}
@media screen and (min-width: 750px) {
	.cart__warnings {
		padding: 8rem 0;
	}
}
@media screen and (min-width: 990px) {
	.cart__warnings {
		padding: 12rem 0 17rem;
	}
}
cart-items {
	display: block;
}
.cart__items {
	position: relative;
	margin-top: 8rem;
}
.cart__items--disabled {
	pointer-events: none;
}
.cart__footer .discounts {
	margin-bottom: 1rem;
}
.subtotals,
.totals {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.cart__footer .totals>* {
	font-size: 1.6rem;
}

.totals>* {
	margin: 0;
}
.cart__footer .totals>h2 {
	font-size: 2.2rem;
}
.totals * {
	line-height: 1;
}
.totals>*+* {
	margin-left: 2rem;
}
.subtotals p {
	margin-top: 0;
	margin-bottom: 1.3rem;
}
.totals__total {
	margin-top: 0.5rem;
	min-width: 6rem;
}

.totals__total-value {
	color: rgb(var(--color-foreground));
	text-align: right;
	font-weight: var(--font-heading-weight);
}

.cart__footer .totals__total-value {
	font-size: 2.2rem;
}

.cart__ctas+.totals {
	margin-top: 2rem;
}
.cart__note {
	/* height: fit-content; */
	display: block;
	margin-bottom: 2rem;
	padding: 2rem 0;
	border-top: 1px solid rgb(var(--input-border-color));
	border-bottom: 1px solid rgb(var(--input-border-color));
}
.cart__note label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.41em;
	color: rgb(var(--color-foreground));
	cursor: pointer;
}
.cart__note label svg {
	width: 1rem;
}
@media screen and (max-width: 749px) {
	.cart__note label {
		font-size: 1.4rem;
		line-height: 1.3em;
	}
}

.cart__note .text-area {
	resize: vertical;
	padding: 1rem;
	border: 1px solid rgb(var(--input-border-color));
	height: 150px;
	margin-top: 1rem;
}

@media screen and (min-width: 750px) {
	.cart__items {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.cart__contents>*+* {
		margin-top: 0;
	}
	.cart__items+.cart__footer {
		grid-column: 2;
	}
}
.cart__ctas button {
	width: 100%;
}
.cart-drawer .cart__ctas {
	display: flex;
	gap: 1.6rem;
}
.cart-drawer .cart__ctas .button-cart {
	width: calc(50% - 0.8rem);
	margin-top: 0;
	flex-wrap: wrap;
}

.button-cart .totals__items-wrap {
	margin-left: 0.4rem;
}
.button-cart .icon {
	width: 1.7rem;
	margin-right: 0.6rem;
}
.cart__ctas>*:not(noscript:first-child)+* {
	margin-top: 1rem;
}
.cart__update-button {
	margin-bottom: 1rem;
}
.cart__dynamic-checkout-buttons {
	max-width: 36rem;
	margin: 0 auto;
}
.cart__blocks>*+.cart__dynamic-checkout-buttons {
	margin-top: 2rem;
}
.additional-checkout-buttons [data-shopify-buttoncontainer] {
	justify-content: flex-start;
}
.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
	margin: 0;
}
.cart__dynamic-checkout-buttons div[role='button'] {
	border-radius: var(--buttons-radius-outset) !important;
}
.cart-note__label {
	display: inline-block;
	margin-bottom: 1rem;
	line-height: 2;
}
.tax-note {
	margin: 2.2rem 0 1.6rem auto;
	text-align: left;
	display: block;
}
.cart__checkout-button {
	max-width: 36rem;
}
.cart__checkout-button span {
	display: flex;
}
.cart__ctas {
	text-align: center;
}
.cart__blocks {
	padding: 2rem;
	min-width: 29rem;
	max-width: 39rem;
	width: 100%;
	background-color: rgb(var(--color-background));
	border-radius: var(--text-boxes-radius);
	margin-left: auto;
}
@media screen and (min-width: 350px) {
	.cart__blocks {
		min-width: 33rem;
	}
}
@media screen and (min-width: 750px) {
	.cart__blocks {
		padding: 3rem;
	}
	.cart__update-button {
		margin-bottom: 0;
		margin-right: 0.8rem;
	}
	.tax-note {
		margin-bottom: 2.2rem;
		text-align: left;
	}
	[data-shopify-buttoncontainer] {
		justify-content: flex-end;
	}
	.cart__ctas {
		display: flex;
		gap: 1rem;
	}
}
/* Button */
.cart__checkout-button svg {
	margin-right: .6rem;
	width: 1.5rem;
	height: 1.9rem;
	padding-bottom: .3rem;
}
.cart__blocks-link {
	margin-top: 2rem;
}

.cart__blocks-link.link-hover:hover {
	color: rgb(var(--color-accent));
}

.cart__blocks-link.link-with-arrow:hover {
	text-decoration: underline;
}

@media screen and (max-width: 375px) {
	.cart-drawer .cart__ctas .button-cart {
		padding: 1.2rem;
	}
}