.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: auto;
  isolation: isolate;
}

.banner__box {
  text-align: center;
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.banner__box.gradient {
  transform: perspective(0);
}

@media only screen and (max-width: 749px) {
  .banner--content-align-mobile-right .banner__box {
    text-align: right;
  }

  .banner--content-align-mobile-left .banner__box {
    text-align: left;
  }

	.image-banner.page-width {
		padding-left: 0;
		padding-right: 0;
	}
}

.banner__heading a {
	text-decoration-thickness: 0.2rem;
}

.banner__heading a:hover {
	text-decoration-thickness: 0.3rem;
}

@media only screen and (min-width: 750px) {
  .banner--content-align-right .banner__box {
    text-align: right;
  }

  .banner--content-align-left .banner__box {
    text-align: left;
  }

  .banner--content-align-left.banner--desktop-transparent .banner__box,
  .banner--content-align-right.banner--desktop-transparent .banner__box,
  .banner--medium.banner--desktop-transparent .banner__box {
    max-width: var(--content-width, 72rem);
  }

	.image-banner.page-width .banner {
		border-radius: var(--text-boxes-radius);
		overflow: hidden;
	}
}

.banner__media.animate--zoom-in {
  clip-path: inset(0px);
}

.banner__media.animate--zoom-in > img:not(.zoom):not(.deferred-media__poster-button),
.banner__media.animate--zoom-in > svg:not(.zoom):not(.deferred-media__poster-button) {
  position: fixed;
  height: 100vh;
}

@media screen and (max-width: 749px) {
  .banner--small.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--small.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 28rem;
  }

  .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 34rem;
  }

  .banner--large.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--large.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 39rem;
  }

  .banner--small:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 28rem;
  }

  .banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 34rem;
  }

  .banner--large:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 56rem;
  }
}

@media screen and (min-width: 750px) {
  .banner {
    flex-direction: row;
  }

  .banner--small:not(.banner--adapt) {
    min-height: 42rem;
  }

  .banner--medium:not(.banner--adapt) {
    min-height: 56rem;
  }

  .banner--large:not(.banner--adapt) {
    min-height: 72rem;
  }

  .banner__content.banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content.banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content.banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content.banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content.banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .banner__content.banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content.banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content.banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .banner__content.banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .banner--desktop-transparent .banner__content.banner__content--top-left .banner__box,
  .banner--desktop-transparent .banner__content.banner__content--middle-left .banner__box,
  .banner--desktop-transparent .banner__content.banner__content--bottom-left .banner__box {
    padding-left: 0;
  }

  .banner--desktop-transparent .banner__content.banner__content--top-right .banner__box,
  .banner--desktop-transparent .banner__content.banner__content--middle-right .banner__box,
  .banner--desktop-transparent .banner__content.banner__content--bottom-right .banner__box {
    padding-right: 0;
  }

  .banner-filter .banner__content.banner__content--top-left,
  .banner-filter .banner__content.banner__content--middle-left,
  .banner-filter .banner__content.banner__content--bottom-left,
  .banner-filter .banner__content.banner__content--top-right,
  .banner-filter .banner__content.banner__content--middle-right,
  .banner-filter .banner__content.banner__content--bottom-right {
    justify-content: space-between;
  }
  .banner-filter .banner__content.banner__content--top-right,
  .banner-filter .banner__content.banner__content--middle-right,
  .banner-filter .banner__content.banner__content--bottom-right {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 749px) {
  .banner:not(.banner--stacked) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .banner--stacked {
    height: auto;
  }

  .banner--stacked .banner__media {
    flex-direction: column;
  }
}

.banner__media {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.banner__media-half {
  width: 50%;
}

.banner__media-half + .banner__media-half {
  right: 0;
  left: auto;
}

.banner__media-half.animate--fixed:first-child > img,
.banner__media-half.animate--zoom-in:first-child > img {
  width: 50%;
}

.banner__media-half.animate--fixed:nth-child(2) > img,
.banner__media-half.animate--zoom-in:nth-child(2) > img {
  left: 50%;
  width: 50%;
}

@media screen and (max-width: 749px) {
  .banner--stacked .animate--fixed:first-child > img,
  .banner--stacked .animate--zoom-in:first-child > img {
    width: 100%;
  }

  .banner--stacked .banner__media-half.animate--fixed:nth-child(2) > img,
  .banner--stacked .banner__media-half.animate--zoom-in:nth-child(2) > img {
    left: 0;
    width: 100%;
  }

  .banner--stacked .banner__media-half {
    width: 100%;
  }

  .banner--stacked .banner__media-half + .banner__media-half {
    order: 1;
  }
}

@media screen and (min-width: 750px) {
  .banner__media {
    height: 100%;
  }
}

.banner--adapt,
.banner--adapt_image.banner--mobile-bottom .banner__media:not(.placeholder) {
  height: auto;
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .banner__media,
  .banner--stacked:not(.banner--mobile-bottom) .banner__media {
    position: relative;
  }

  .banner--stacked.banner--adapt .banner__content {
    height: auto;
  }

  .banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
    background: transparent;
  }

  .banner:not(.banner--mobile-bottom) .banner__box {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .banner:not(.banner--mobile-bottom) .button--secondary {
    --alpha-button-background: 0;
  }

  .banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    position: absolute;
    height: auto;
  }

  .banner--stacked.banner--adapt:not(.banner--mobile-bottom) .banner__content {
    max-height: 100%;
    overflow: hidden;
    position: absolute;
  }

  .banner--stacked:not(.banner--adapt) .banner__media {
    position: relative;
  }

  .banner::before {
    display: none !important;
  }

  .banner--stacked .banner__media-image-half {
    width: 100%;
  }
}

.banner__content {
  padding: 5rem 0;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

@media screen and (min-width: 750px) {
  .banner__content {
    padding: 7rem 5rem 8rem;
  }

  .banner__content--top-left {
		align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content--top-center {
		align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content--top-right {
		align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content--bottom-left {
		align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content--bottom-center {
		align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
  }

  .banner__content--bottom-right {
		align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom:not(.banner--stacked) .banner__content {
    order: 2;
  }

  .banner:not(.banner--mobile-bottom) .field__input,
  .banner--mobile-bottom:not(.banner--stacked) .banner__box.color-scheme-1 {
    background: transparent;
  }

  .banner__content {
    padding: 0;
  }
}

.banner__box {
  padding: 4rem 1.5rem;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  z-index: 1;
}

.banner--mobile-bottom .banner__box {
  padding: 4rem 2.5rem;
}

@media screen and (min-width: 750px) {
  .banner__box {
    padding: 4rem 3.5rem;
  }

  .banner--desktop-transparent .banner__box {
    padding: 4rem 0;
    background: transparent;
    max-width: var(--content-width, 60rem);
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .banner--desktop-transparent .content-container:after {
    display: none;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom::after,
  .banner--mobile-bottom .banner__media::after {
    display: none;
  }
}

.banner::after,
.banner__media::after {
  content: '';
  position: absolute;
  top: 0;
  background: #000000;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.banner__box > * + .banner__text {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .banner__box > * + .banner__text {
    margin-top: 2rem;
  }
}

.banner__box .banner__text {
  color: rgba(var(--color-foreground), 1);
}

.banner__box .banner__text[data-color="secondary"] {
  color: rgb(var(--color-foreground-secondary));
}

.banner__box > * + * {
  margin-top: 1rem;
}

.banner__box > *:first-child {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .banner--stacked .banner__box {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .banner__box {
    width: auto;
    max-width: 71rem;
    min-width: 45rem;
  }
}

@media screen and (min-width: 1400px) {
  .banner__box {
    max-width: 90rem;
  }
}

.banner__heading {
  margin-bottom: 0;
}

.banner__box .banner__heading + * {
  margin-top: 1rem;
}
@media screen and (min-width: 750px) {
  .banner__box .banner__heading + * {
    margin-top: 1.5rem;
  }
}

.banner__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 45rem;
  word-break: break-word;
}

@media screen and (max-width: 749px) {
  .banner--content-align-mobile-right .banner__buttons--multiple {
    justify-content: flex-end;
  }

  .banner--content-align-mobile-center .banner__buttons--multiple > * {
    flex-grow: 1;
    /* min-width: 22rem; */
  }
}

@media screen and (min-width: 750px) {
  .banner--content-align-center .banner__buttons--multiple > * {
    flex-grow: 1;
    min-width: 22rem;
  }

  .banner--content-align-right .banner__buttons--multiple {
    justify-content: flex-end;
  }
}

.banner__box > * + .banner__buttons {
  margin-top: 2.5rem;
}

@media screen and (max-width: 749px) {
  .banner:not(.slideshow) .rte a,
  .banner:not(.slideshow) .inline-richtext a:hover,
  .banner:not(.slideshow) .rte a:hover {
    color: currentColor;
  }
  .banner__box > * + .banner__buttons {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 750px) {
  .banner--desktop-transparent .rte a,
  .banner--desktop-transparent .inline-richtext a:hover,
  .banner--desktop-transparent .rte a:hover {
    color: currentColor;
  }
}

/* Filter */

.filter__box {
  padding: 4rem;
  width: 100%;
}

.filter__box h3 {
  text-align: center;
  margin: 0 0 1rem;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.filter__box details {
  position: relative;
}

.filter__box summary {
  text-align: left;
  padding: 1.4rem 4rem 1.4rem 2rem;
  border: 0.1rem solid transparent;
  border-radius: var(--inputs-radius);
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--input-border-color), var(--inputs-border-opacity));
  transition: box-shadow var(--duration-short) ease;
  min-width: 24rem;
  line-height: 1;
  font-size: 1.4rem;
}

.filter__box summary span {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

.filter__box summary .icon-caret {
  right: 1.8rem;
}

.filter-select {
  display: flex;
  flex-direction: column;
  min-width: 24rem;
  padding: 1.5rem 2rem;
  margin: 0;
  list-style: none;
  list-style-type: none;
  border-radius: var(--inputs-radius);
  box-shadow: 0 0 1rem 0.2rem rgba(var(--color-foreground), 0.1);
  transition: box-shadow var(--duration-short) ease;
  gap: 1rem;
  position: absolute;
  background-color: rgb(var(--color-background));
  top: calc(100% + 0.1rem);
  left: calc(0px - var(--inputs-border-width));
  z-index: 2;
  width: calc(100% + var(--inputs-border-width) * 2);
  max-height: 21rem;
  overflow-y: auto;
}

.filter-select__item {
  color: rgba(var(--color-foreground), 1);
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1.2;
  word-break: break-all;
  transition: color 0.3s ease;
}

.filter-select__item.disabled {
  opacity: 0.5;
  pointer-events: none;
  order: 1;
}

.filter-select__item.holder:not(:only-child) {
  display: none;
}

.filter-select__item.active,
.filter-select__item:hover {
  color: rgb(var(--color-accent));
}

.banner-filter .banner__content.banner__content--top-left,
.banner-filter .banner__content.banner__content--middle-left,
.banner-filter .banner__content.banner__content--bottom-left,
.banner-filter .banner__content.banner__content--top-right,
.banner-filter .banner__content.banner__content--middle-right,
.banner-filter .banner__content.banner__content--bottom-right,
.banner-filter .banner__content.banner__content--top-right,
.banner-filter .banner__content.banner__content--middle-right,
.banner-filter .banner__content.banner__content--bottom-right {
  flex-direction: column;
}

.banner-filter .banner__content {
  gap: 6rem;
}
@media screen and (min-width: 750px) and (max-width: 950px) {
  .banner-filter .banner__content {
    gap: 5rem;
  }
  .filter-slide .banner__box {
    padding: 3rem 3.5rem;
  }
}
.image-slide:not(:only-child) .banner-filter,
.video-slide:not(:only-child) .banner-filter {
  height: 100%;
}
@media screen and (max-width: 749px) {
  .banner-filter {
    height: 100%;
  }
  .banner-filter .banner__content {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }
  .banner-filter .banner__box {
    padding: 6rem 1.5rem 3rem;
  }

  .image-slide .banner-filter .banner__box {
    padding-bottom: 6rem;
  }

  .filter__box {
    padding: 2rem 1.5rem;
    max-width: calc(100% - 3rem);
    border-radius: var(--text-boxes-radius);
    margin-bottom: 7rem;
  }
  .filter-form {
    gap: 1rem;
  }
  .banner-filter summary {
    min-width: auto;
    padding: 1.1rem 3.5rem 1.1rem 1.5rem;
  }
  .banner-filter details {
    width: calc(50% - 0.5rem);
  }
  .banner-filter .filter-value {
    width: 100%;
  }

  .filter-select {
    min-width: auto;
    max-width: 16rem;
    max-height: 16rem;
    padding: 1.5rem 2rem 1.5rem 1.7rem;
  }
}

@media screen and (min-width: 750px) {
  .filter-form {
    flex-direction: column;
    gap: 1.5rem;
  }

  .banner-filter.banner--small {
    min-height: 55rem;
  }

  .banner-filter.banner--medium {
    min-height: 65rem;
  }

  .banner-filter.banner--large {
    min-height: 75rem;
	height: 100%;
  }
}

@media screen and (min-width: 950px) {
  .banner-filter .banner__content.banner__content--top-left,
  .banner-filter .banner__content.banner__content--middle-left,
  .banner-filter .banner__content.banner__content--bottom-left,
  .banner-filter .banner__content.banner__content--top-right,
  .banner-filter .banner__content.banner__content--middle-right,
  .banner-filter .banner__content.banner__content--bottom-right {
    justify-content: space-between;
  }
  .banner-filter .banner__content.banner__content--top-left,
  .banner-filter .banner__content.banner__content--middle-left,
  .banner-filter .banner__content.banner__content--bottom-left {
    flex-direction: row;
  }

  .banner-filter .banner__content.banner__content--top-right,
  .banner-filter .banner__content.banner__content--middle-right,
  .banner-filter .banner__content.banner__content--bottom-right {
    flex-direction: row-reverse;
  }

  .filter__box {
    max-width: 36rem;
  }
}

.background-secondary .banner-background-secondary {
  width: 100%;
}

.background-secondary .banner-background-secondary > div {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
  height: 100%;
}

.background-secondary .banner-background-secondary .banner__content {
  height: 100%;
}

@media screen and (min-width: 1400px) {
  .filter-slide .banner__box {
    max-width: 70rem;
  }
}

.banner__media video,
.banner__media iframe {
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: cover;
  border: none;
}

/* slider */
.filter-slider {
  display: block;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.filter-slider .filter-slider-wrap {
  display: flex;
  transition: transform 0.7s ease;
  position: relative;
  z-index: 1;
}

.filter-slider .filter-slider-slide {
  /* width: 100vw; */
  width: 100%;
  flex-shrink: 0;
  min-width: 100%;
}

.filter-slider .pagination:not(:empty) {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
  width: fit-content;
  border-radius: 1.8rem;
  z-index: 2;
}

.filter-slider .pagination .dot {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
}

.filter-slider .pagination .dot:only-child {
  display: none;
}

.filter-slider .pagination .dot:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - .4rem);
  height: calc(100% - .4rem);
  border: .2rem solid rgba(var(--color-background), 1);
  border-radius: 50%;
}

.filter-slider .pagination .dot:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: calc(100% - 1.4rem);
  height: calc(100% - 1.4rem);
  border-radius: 50%;
  background-color: rgba(var(--color-accent), 1);
  transition: transform .6s ease;
  z-index: 4;
}
.filter-slider .pagination .dot:hover:after,
.filter-slider .pagination .dot.active:after {
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 749px) {
  .filter-slider .filter-slider-wrap:has(details[open]) {
    z-index: 2;
  }
}

.filter-slider-section:has(.filter-slider.not-full) {
  padding: 0 3rem;
}

@media screen and (max-width: 749px){
  .filter-slider-section:has(.filter-slider.not-full) {
    padding: 0 1.5rem;
  }
}

.filter-slider.not-full{
  max-width: calc(var(--page-width));
  margin: 0 auto;
  border-radius: var(--text-boxes-radius);
}

.banner__content.banner-product {
  padding: 1.5rem 1.5rem 1.5rem 6.5rem;
  justify-content: space-between;
}

@media screen and (max-width: 989px) {
  .banner__content.banner-product {
    flex-direction: column;
    padding: 1.5rem 3rem;
  }
}

@media screen and (max-width: 749px) {
  .banner__content.banner-product {
    padding: 1.5rem;
  }
}

.banner-filter .banner__content.banner-product {
  gap: 3rem;
}
.banner-product .banner__box {
  padding: 0;
  width: 100%;
  max-width: 61rem;
  text-align: left;
  min-width: unset;
}

@media screen and (max-width: 989px) {
  .banner-product .banner__box {
    max-width: unset;
    text-align: center;
  }
}

.banner__product-wrapper {
  display: flex;
  gap: 1.5rem;
}

@media screen and (max-width: 749px) {
  .banner__product-wrapper {
    flex-direction: column;
  }
}

.banner__content.banner-product .banner__text.secondary-color {
  color: rgba(var(--color-foreground-secondary), 1);
}

.banner__product-image {
  max-width: 51rem;
  width: 100%;
  display: flex;
}
.banner__product-image img{
  border-radius: var(--text-boxes-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__product-image.placeholder {
	display: none;
}

.banner__product-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 24rem;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .banner__product-items {
    flex-direction: row;
    max-width: unset;
    flex-wrap: wrap;
  }
}

.banner__product-item {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: var(--text-boxes-radius);
}

@media screen and (max-width: 749px) {
  .banner__product-item {
    width: 50%;
    flex: 1 1 100px;
  }
}

.banner__product-item-image {
  height: 100%;
  max-height: 13rem;
  width: 100%;
  max-width: 13rem;
  align-self: center;
  margin-bottom: 2rem;
  overflow: hidden;
}

.banner__product-item-image img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 990px) {
  .banner__product-item .banner__product-item-image > img:not(:only-child) {
    transition: all .5s cubic-bezier(0.68, -0.1, 0.27, 1.1);
  }

  .banner__product-item:hover .banner__product-item-image > img:not(:only-child) {
    transform: translateY(-100%);
  }
}

.banner__product-item .quick-add {
  margin: 0;
}

.banner__product-item .link {
  font-size: var(--body-font-size);
  line-height: 1.41em;
  margin-bottom: 0.8rem;
  font-weight: 500;
  text-decoration: none;
}

.banner__product-item .link:hover {
  color: rgb(var(--color-accent));
  text-decoration: underline;
}

.banner__product-item .price {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.banner__product-item .price--on-sale .price-item--regular {
  font-size: 1.6rem;
}

.banner__product-item .quick-add button {
  padding: 0;
  min-width: auto;
  width: auto;
  background-color: transparent;
  border: none;
  min-height: auto;
}

.banner__product-item .quick-add button:hover {
  background-color: transparent;
  color: rgb(var(--color-accent));
}

.banner__product-item .quick-add button::after,
.banner__product-item .quick-add button::before {
  content: none;
}

.filter__box[data-loading="true"] .filter-form {
	pointer-events: none;
	opacity: .7;
}

.filter__box .loading__spinner {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* DIGMO Updates */

.banner__buttons a {
  background-color: #fff;
  color: #001429;
  border: 3px solid #001429;
  padding: 5px 12px;
  min-height: 32px;
  line-height: normal;
  box-shadow: -5px 5px #001429;
  transition: .25s;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
}

.banner__buttons a span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.banner__buttons a:hover {
  /* background-color: #001429 !important; */
  color: #001429 !important;
  border-color: #001429 !important;
  box-shadow: 0px 0px #001429;
}

.banner__text.rte p{
  margin: 0 !important;
}

.banner-filter .banner__content {
  max-width: 100% !important;
  justify-content: unset !important;
}

.banner__heading {
  margin-bottom: 0;
  max-width: 310px;
}

.mobile-banner-image {
  display: none !important;
}

.desktop-banner-image {
  display: block !important;
}

@media screen and (max-width: 749px) {
  .mobile-banner-image {
    display: block !important;
  }

  .desktop-banner-image {
    display: none !important;
  }

  .banner__heading {
    margin: auto;
  }

  .banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 500px;
  }

  .banner__content-mobile--bottom-center {
    align-items: end !important;
  }

  .banner__content-mobile--bottom-center .banner__box {
    padding-bottom: 4rem !important;
  }

  .banner__text.rte p {
    font-size: 14px !important;
  }

  .banner__content-mobile--bottom-center .banner__buttons{
    margin-top: 1rem !important;
  }
}
